@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Monserrat', sans-serif;
    box-sizing: border-box;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    padding: 35px 175px 0px;
    color: white;
  
}

.menu{
    padding-top: 30px;
    display: inline-flex;
    color: white;
    justify-content: space-around;
    width: 27%;
    text-decoration: none;
    list-style: none;
   

}

.menu a{
    text-decoration: none;
    font-weight: 700;
    color: white;

 
}
.menu a:hover{
    color: #ff8500;
}

.title {
    
    background-color: #060F20;
    color: white;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 25px;
    padding-right: 75px;
 
  
}


 .judul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #e48800;
    
}

h1.judul {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;

}

.tentang{
    padding-left: 60px;
    font-size: larger;
    padding-top: 25px;
    text-align: justify;
   
} 

.link{
    padding-left: 60px;
    padding-bottom: 120px;
}

.hiring {
    display: flex;
    background-color:  #0B162B;
    color:#8D8D8D;
    padding-top: 50px;
    padding-right: 140px;
    padding-left: 140px;
}

.judulhire {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 50px;

}

.hire {
   

}

.hirekiri {
    display: flex;
   
   
}

.contenthire {
    padding-left: 20px;
    line-height: auto;
 
}

.contenthire > h1 {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.contenthire > p {
    font-weight: 500;
    font-size: 18px;
    color: #767d86;


}

.kiri1 {
    color: white;
    font-weight: 500;
}

.tabelhire {
    display: flex;
    
}

.kiriket {
    font-weight: 500;
    color: #5d636b;
}

.kananket {
    padding-left: 25px;
}

.hiringinfo {
    display: flex;
    font-family: 'Monserrat', sans-serif;
    line-height: 44px;
    text-align: center;
    padding-left: 70px;
}

.hiringjml {
    color: #E1E1E1;
    font-size: 24px;
    font-weight: 700;

}

.hero-btn {
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 15px 70px;
    border-radius: 8px;
    background-color: #E38800;

}

.hero-btn:hover{
    color: white;
    background-color: #F19703;
}

.button2 {
    padding-top: 20px;
}

.hero-btn2 {
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 15px 63px;
    border: 2px solid #E38800;
    border-radius: 8px;
   

}

.hero-btn2:hover{
    color: white;
    background-color: #F19703;
}

.link > a {
    color: white;
    text-decoration: none;
    font-size: medium;
    padding-left:20px  ;
    text-align: center;
}


