*{
    margin: 0;
    padding: 0;
    font-family: 'Monserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin-top: 25px;
    padding: 10px 100px 0px;
    color: white;
  
}

h1 > .title{
    color: #e48800;
}
.title {
    background-color: #060F20;
    color: white;
}

.hiring {
    background-color:  #0B162B;
    color: white;
}
