@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Monserrat', sans-serif;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
  
    padding: 35px 175px 0px;
    color: white;
  
}

.menu{
   

}

.title {
    
    background-color: #060F20;
    color: white;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 25px;
    padding-right: 75px;
 
  
}


 .judul {
    font-family: 'Raleway', sans-serif;
    color: #e48800
}

h1.judul {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;

}

.tentang{
    padding-left: 60px;
    font-size: larger;
    padding-top: 25px;
    text-align: justify;
   
} 

.link{
    padding-left: 60px;
}

.hiring {
    background-color:  #0B162B;
    color: white;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 80px;
}
