@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Monserrat', sans-serif;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    padding: 35px 175px 0px;
    color: white;
  
}

.menu{
    padding-top: 30px;
    display: inline-flex;
    color: white;
    justify-content: space-around;
    width: 27%;
    text-decoration: none;
    list-style: none;
   

}

.menu a{
    text-decoration: none;
    font-weight: 700;
    color: white;

 
}
.menu a:hover{
    color: #ff8500;
}

.title {
    
    background-color: #060F20;
    color: white;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 25px;
    padding-right: 75px;
 
  
}


 .judul {
    font-family: 'Raleway', sans-serif;
    color: #e48800;
    
}

h1.judul {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;

}

.tentang{
    padding-left: 60px;
    font-size: larger;
    padding-top: 25px;
    text-align: justify;
   
} 

.link{
    padding-left: 60px;
    padding-bottom: 120px;
}

.hiring {
    background-color:  #0B162B;
    color:#8D8D8D;
    padding-top: 50px;
    padding-right: 140px;
    padding-left: 140px;
}

.judulhire {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 50px;

}

.hire {
    display: inline-block;

}

.contenthire {
 
}


